# Stone's user ssh config
###############################################################################

# A few things are redundant but included for readability. 
VerifyHostKeyDNS yes

# WARNING: This file is included in git/.ssh, don't 
# add anything confidential.

# Global settings:
###################

VerifyHostKeyDNS yes
ServerAliveInterval 10
AddKeysToAgent yes
ForwardX11 no
ForwardAgent no
ControlMaster auto
ControlPersist 4800
IdentitiesOnly yes
ExitOnForwardFailure yes

# Use alternate paths:
ControlPath ~/.ssh/control/%r.%h.%p.sock

# Load default keyfiles from ~/.ssh/identities if available:
Match Exec "test -e ~/.ssh/identities/id_rsa"
	IdentityFile ~/.ssh/identities/id_rsa
Match Exec "test -e ~/.ssh/identities/id_ecdsa"
	IdentityFile ~/.ssh/identities/id_ecdsa
Match Exec "test -e ~/.ssh/identities/id_ed25519"
	IdentityFile ~/.ssh/identities/id_ed25519

# Prevent data leakage if your knownhosts file is lost
# by hashing the fingerptins:
HashKnownHosts yes

# Enable compatibilty on older systems and other platforms
# by allowing ssh to skip unknown keys without throwing an
# error:
IgnoreUnknown PKCS11Provider,UseKeychain

# if macOS, we can use keychain:
Match Exec "echo $OSTYPE | grep xdarwin >> /dev/null"
	PKCS11Provider=/usr/lib/ssh-keychain.dylib
	UseKeychain yes

# If available, use KRL, otherwise ignore as it will
# prevent any connections when the file is missing if
# we set the option:
Match Exec "cat ~/.ssh/krl.txt 2&> /dev/null"
	RevokedHostKeys ~/.ssh/krl.txt


# Sane default crypto settings:

# Only permit CBC and CTR modes of AES 128-256.
Ciphers aes128-cbc,aes192-cbc,aes256-cbc,aes256-ctr,aes192-ctr,aes128-ctr

# Disallow insecure ciphers except RSA:
HostKeyAlgorithms ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ssh-rsa
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,diffie-hellman-group-exchange-sha256

# Use only SHA256/SHA512
MACs hmac-sha2-256,hmac-sha2-512

# Ignore host checking on ephemeral link-local and loopback addresses,
# or any address through a v6 looppback address:
Host 169.254.*.* 127.*.*.* fe80:*%%* 0::1%%lo0 0::1%%lo1
	# Disable identy changed message:
	StrictHostKeyChecking no	

# Don't dig SSHFP records on mDNS:
Host *.local 
	VerifyHostKeyDNS no

# WAN settings:
# Please note that due to limitations of ssh config files, it is possible
# to trick this block by using crafted domains such as "192.168.e.example.org"
Host !192.168.*.* !10.*.*.* !169.254.*.* !172.16.*.* !fc*%%* 
	PasswordAuthentication no
	IdentitiesOnly yes
	ForwardAgent no
	Compression yes

# disable compression, ignore host keys, and no compress on ipv4 LAN:
Host 192.168.*.* 10.*.*.* 169.254.*.* 172.16.*.*
	# Disable identy changed message:
	VerifyHostKeyDNS no
	StrictHostKeyChecking no	
	PasswordAuthentication yes
	Compression no


